.modal-wrapper {
    /* z-index: 1000;
    position: fixed;
    margin: auto 0;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 8px #666666;
    text-align: center;
    background-color: white; */
    /* border: 1px solid black; */
    margin: 10px auto;
    padding: 5px;
    width: 300px;
    height: 250px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-header {
    margin: 10px auto;
    /* border: 1px solid black; */
}

.hidden {
    display: none;
}
