.AlertFeed {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-image: url(../../images/salt-lake-city-public-library-utah.jpg);
    background-size: cover;
}

.feed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    margin-top: 20px;
}

/* .AlertCard { */
/*     display: flex; */
/* } */
