.TopNavWrapper {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  background: greenyellow;
  /* border: black solid 4px; */
}

/* .TopNavWrapper .MenuItems {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin: 10px;
  border: red solid 3px;
  /* background: purple; */


.TopNavWrapper .MenuItems .MenuLink {
  display: flex;
  align-self: center;
  margin: auto;
  border: blue solid 2px;
}

