.TopNavWrapper {
  display: flex;
  /* border: black solid 4px; */
}

.TopNavWrapper .MenuItems {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin: 10px;
  border: red solid 3px;
}