.BillingContainer {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/Billing-page.jpg);
  background-size: cover;
}

.checkout {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 20px;
}
