.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-top: 20px;
}

.LandingPageWrapper{
    width: 100%;
    height: 100%;
    background: url("../../images/landing-page-background.jpg");
    background-size: cover;
    min-height: 1000px;
    min-width: 320;
    margin: 0;
    padding: 0;
}

.LandingPage .HeaderText{
    display: flex;
    align-self: center;
}

.LandingPage .GetStartedButton {
    margin: 60px;
    color: #CFDEE7
}
