/* .modal-wrapper {
    /* z-index: 1000;
    position: fixed;
    margin: auto 0;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 8px #666666;
    text-align: center;
    background-color: white; */
    /* border: 1px solid black; */
    /* margin: 10px auto; */
    /* padding: 5px; */
    /* width: 800px;
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.7;
    border: 1px solid blue;
} */ 

.modal-header {
    margin: 10px auto;
    /* border: 1px solid black; */
}

.hidden {
    display: none;
}

.GridWrap {
    width: 700px;
    height: 400px;
    opacity: 0.8;
    /* border: 1px solid black; */
}

.how-to {
    background-color: white;
    display: flex;
}

.action-field {
    background-color: aliceblue;
}

.how-to-row {
    margin: 30px;
    height: 30px;
    color: black;
}

.sign-in-link{
    font-size: 1.1rem;
    margin-left: 0.5rem;
}